In [1]:
import pandas as pd

In [7]:
path = r'C:\Users\Thabang Ndhlovu\Projects\HELLO_CREDIT\resources\Ratings\cleaned_credit_ratings.xlsx'

In [8]:
df = pd.read_excel(path, index_col=0, parse_dates=True)

In [11]:
df.isna().sum()

Barloworld Limited                77
Gold Fields Limited               72
Bidvest Group Limited, The        72
Sasol Limited                     68
Growthpoint Properties Limited    69
MTN Group Limited                 72
Pepkor Holdings Limited           81
Redefine Properties Limited       76
Sappi Limited                     66
Sibanye Stillwater Limited        83
Telkom SA SOC Limited             68
Zeda Limited                      84
dtype: int64

In [14]:
for col in df:
    display(df[[col]].dropna())

              Barloworld Limited
2016-06-02                Stable
2017-06-13              Negative
2017-11-29  Ratings Under Review
2018-03-27                Stable
2019-11-07              Negative
2020-04-04              Negative
2020-11-26              Negative
2022-04-06                Stable

             Gold Fields Limited
2010-09-17                Stable
2011-09-08              Positive
2012-10-01                Stable
2012-11-30  Ratings Under Review
2012-12-06              Negative
2014-05-13              Negative
2016-01-22  Ratings Under Review
2016-03-18                Stable
2016-09-16              Positive
2018-06-26                Stable
2020-04-04              Negative
2020-11-26              Negative
2022-04-06                Stable

           Bidvest Group Limited, The
2012-06-13                     Stable
2014-11-07                     Stable
2016-05-11                   Negative
2016-12-19                   Negative
2017-04-04       Ratings Under Review
2017-06-13                   Negative
2017-11-29       Ratings Under Review
2018-03-27                     Stable
2019-11-07                   Negative
2020-04-04                   Negative
2020-11-26                   Negative
2021-09-10                   Negative
2022-04-06                     Stable

                   Sasol Limited
2005-06-08                Stable
2014-11-10                Stable
2015-12-18              Negative
2016-03-11  Ratings Under Review
2016-05-11              Negative
2017-04-04  Ratings Under Review
2017-06-13              Negative
2017-11-29              Negative
2018-03-27                Stable
2018-09-11                Stable
2019-05-31              Negative
2020-03-05                Stable
2020-03-31  Ratings Under Review
2020-10-15              Negative
2020-11-26              Negative
2022-04-06              Positive
2023-11-28                Stable

           Growthpoint Properties Limited
2009-10-20                         Stable
2011-02-15           Ratings Under Review
2011-06-17                         Stable
2014-03-05                       Positive
2015-05-13                         Stable
2015-12-17                       Negative
2016-03-11           Ratings Under Review
2016-05-11                       Negative
2017-04-04           Ratings Under Review
2017-06-13                       Negative
2017-11-27           Ratings Under Review
2018-03-27                         Stable
2019-11-07                       Negative
2020-04-04                       Negative
2020-11-26                       Negative
2022-04-06                         Stable

               MTN Group Limited
2006-06-26                Stable
2008-02-12              Positive
2013-12-13                Stable
2014-10-23                Stable
2015-10-29              Negative
2015-12-15              Negative
2016-06-20              Negative
2017-06-13                Stable
2018-09-06  Ratings Under Review
2019-01-21              Negative
2020-04-04              Negative
2020-11-26              Negative
2022-04-06                Stable

           Pepkor Holdings Limited
2020-01-27                  Stable
2020-04-06                Negative
2020-11-26                Negative
2022-04-14                  Stable

           Redefine Properties Limited
2011-06-30                      Stable
2016-11-25                      Stable
2017-06-13                    Negative
2017-11-29        Ratings Under Review
2018-03-27                      Stable
2019-11-07                    Negative
2020-04-04                    Negative
2020-11-26                    Negative
2022-04-06                      Stable

                   Sappi Limited
2007-02-23                Stable
2007-04-17              Negative
2008-05-07  Ratings Under Review
2008-06-11                Stable
2009-02-13              Negative
2009-06-03                Stable
2011-04-04              Positive
2013-05-24                Stable
2015-03-10                Stable
2016-06-20              Positive
2016-11-23                Stable
2017-05-24              Positive
2019-01-25                Stable
2020-02-18                Stable
2020-12-16              Negative
2021-12-08                Stable
2022-05-30                Stable
2022-12-15              Positive
2024-02-22              Positive

           Sibanye Stillwater Limited
2021-02-02                   Positive
2022-04-27                   Positive

           Telkom SA SOC Limited
2003-11-15              Positive
2004-05-20  Ratings Under Review
2004-07-20                Stable
2005-04-12     Ratings Withdrawn
2005-06-23                Stable
2008-10-14  Ratings Under Review
2009-10-26              Negative
2011-06-30  Ratings Under Review
2011-12-16                Stable
2017-06-13              Negative
2017-11-29  Ratings Under Review
2018-03-27                Stable
2019-11-07              Negative
2020-04-04              Negative
2020-11-26              Negative
2022-04-06                Stable
2023-12-19                Stable

           Zeda Limited
2023-11-24       Stable

In [ ]:
'ebitda_margin',
 'tot_debt_to_tot_eqy',
 'tot_debt_to_tot_asset',
 'tot_debt_to_ebitda',
 'ebitda_to_tot_int_exp',
 'interest_coverage_ratio',
 'tot_debt_to_tot_cap',
 'asset_turnover',
 'invent_to_sales'

fields = [
"return_on_asset(fa_period_reference=range(2010,2018),fa_period_type='BA')",
"oper_margin(fa_period_reference=range(2010,2018),fa_period_type='BA')",
"ebitda_margin(fa_period_reference=range(2010,2018),fa_period_type='BA')",
"tot_debt_to_tot_eqy(fa_period_reference=range(2010,2018),fa_period_type='BA')",
"tot_debt_to_tot_asset(fa_period_reference=range(2010,2018),fa_period_type='BA')",
"tot_debt_to_ebitda(fa_period_reference=range(2010,2018),fa_period_type='BA')",
"ebitda_to_tot_int_exp(fa_period_reference=range(2010,2018),fa_period_type='BA')",
"interest_coverage_ratio(fa_period_reference=range(2010,2018),fa_period_type='BA')",
"tot_debt_to_tot_cap(fa_period_reference=range(2010,2018),fa_period_type='BA')",
"asset_turnover(fa_period_reference=range(2010,2018),fa_period_type='BA')",
"invent_to_sales(fa_period_reference=range(2010,2018),fa_period_type='BA')"]
 
    

 'ebitda_margin',
 'tot_debt_to_tot_eqy',
 'tot_debt_to_tot_asset',
 'tot_debt_to_ebitda',
 'ebitda_to_tot_int_exp',
 'interest_coverage_ratio',
 'tot_debt_to_tot_cap',
 'asset_turnover',
 'invent_to_sales']

universe = 'JALSH Index'

In [ ]:
fields = [
"return_on_asset(fa_period_reference=range(2000,2024),fa_period_type='BA')",
"oper_margin(fa_period_reference=range(2000,2024),fa_period_type='BA')",
"ebitda_margin(fa_period_reference=range(2000,2024),fa_period_type='BA')",
"tot_debt_to_tot_eqy(fa_period_reference=range(2000,2024),fa_period_type='BA')",
"tot_debt_to_tot_asset(fa_period_reference=range(2000,2024),fa_period_type='BA')",
"tot_debt_to_ebitda(fa_period_reference=range(2000,2024),fa_period_type='BA')",
"ebitda_to_tot_int_exp(fa_period_reference=range(2000,2024),fa_period_type='BA')",
"interest_coverage_ratio(fa_period_reference=range(2000,2024),fa_period_type='BA')",
"tot_debt_to_tot_cap(fa_period_reference=range(2000,2024),fa_period_type='BA')",
"asset_turnover(fa_period_reference=range(2000,2024),fa_period_type='BA')",
"invent_to_sales(fa_period_reference=range(2000,2024),fa_period_type='BA')"
]